{% extends "TaskApp/base.html" %}
{% block title %}task_details{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Created At</th>
      <th scope="col">Modified At</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.title}}</td>
      <td>{{i.description}}</td>
      <td>{{i.status}}</td>
      <td>{{i.created_at}}</td>
      <td>{{i.modified_at}}</td>
      <td><a href="/update/{{i.id}}">update</a></td>
      <td><a href="/delete/{{i.id}}">delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}